@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 20px;
}

h1{
    color: yellow;
}

.textbox{
    background-color: #222;
}

div{
    border: 1px solid red;
}

.gameArea{
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: black;
}

button{
    background-color: #222;
}

li{
    list-style-type: none;
    padding: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menuHeader{
    text-align: center;
    margin: 100px 0px;
}

#title{
    font-size: 2em;
}

.header{
    height: 200px;
}

.inventory{
    width: 210px;
    background-color: gray;
    z-index: 2;
    position: relative;
    right: 0;
    top: -400px;
}

.itemgrid{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 2px;
    margin: auto;
    text-align: center;
}

.invitem:hover{
    background-color: rgb(236, 236, 236);
}

.mapgrid{
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(5, 80px);
    margin: auto;
}