@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.container {
    height: 100vh;
    /* background-image: url('assets/pixelbg.png'); */
    background-size: cover;
    background-color: #222;
}

#title {
    font-family: 'Major Mono Display', monospace;
    color: rgb(223, 223, 126);
    font-style: italic;
    font-size: 2em;
    padding: 10px;
}

.textbox {
    background-color: #222;
}

.gameArea {
    width: 1200px;
    height: 800px;
    margin: auto;
    background-color: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(3px);
}

button {
    transition: all 100ms ease-out;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.menubtn {
    transition: all 300ms ease-out;
    margin: 2px 0;
    width: 200px;
    height: 50px;
}

.menubtn:hover {
    transition: all 300ms ease-out;
    width: 210px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 4px 4px 12px black;
}

button:hover {
    background-color: #444;
    transition: all 100ms ease-out;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

#accept {
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/bg.jpg');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
    flex-direction: row;
}

.gridcenter-item {
    grid-area: a;
    align-self: center;
    justify-self: center;
}

.center {
    align-items: center;
}

.player-image {
    float: left;
    margin: 10px auto;
    width: 70%;
}

.creation {
    width: 80%;
    margin: 50px auto;
}

.stat {
    justify-content: center;
    margin: 2px;
}

.menuHeader {
    text-align: center;
    margin: 100px 0px;
}

.header {
    height: 10vh;
}

.inventory {
    width: 210px;
    position: relative;
    left: 100px;
    top: -400px;
}

.itemgrid {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    margin: auto;
    text-align: center;
    gap: 4px;
}

.invitem:hover,
.equippeditem:hover {
    background-color: rgba(222, 222, 222, 0.5);
}

/* .mapgrid {
    display: grid;
    grid-template-columns: repeat(200, 3px);
    grid-template-rows: repeat(200, 3px);
    gap: 0;
} */

/* .wall,
.open {
    width: 3px;
    height: 3px;
} */

/* .wall {
    background-color: #444;
}

.open {
    background-color: white;
} */

.floor1 {
    background-color: rgb(148, 201, 173);
}

.floor2 {
    background-color: rgb(187, 230, 208);
}

.wall {
    background-color: rgb(88, 88, 88);
}
/* .wall2 {
    background-image: url('../assets/stone.jpg');
    background-size: cover;
    background-color: rgb(32, 32, 32);
} */

.foot {
    background: rgb(187, 230, 208);
    background: linear-gradient(
        0deg,
        rgba(187, 230, 208, 1) 6%,
        rgba(28, 28, 28, 1) 11%,
        rgba(88, 88, 88, 1) 94%,
        rgba(217, 217, 217, 1) 97%
    );
}

.entrance {
    background: rgb(187, 230, 208);
    background: linear-gradient(
        0deg,
        rgb(55, 255, 55) 15%,
        rgba(28, 28, 28, 1) 16%,
        rgba(0, 0, 0, 1) 94%,
        rgba(217, 217, 217, 1) 97%
    );
}

.exit {
    background: rgb(187, 230, 208);
    background: linear-gradient(
        0deg,
        rgba(255, 55, 55, 1) 15%,
        rgba(28, 28, 28, 1) 16%,
        rgba(0, 0, 0, 1) 94%,
        rgba(217, 217, 217, 1) 97%
    );
}

.player {
    background-color: red;
    border-radius: 5px;
}

.head {
    background: rgb(88, 88, 88);
    background: linear-gradient(0deg, rgba(88, 88, 88, 1) 46%, rgba(100, 100, 100, 1) 51%, rgba(187, 230, 208, 1) 51%);
}

.equippeditem,
.invitem {
    border-style: inset;
    border-color: #444;
}

.equippeditem {
    font-size: 12px;
    color: white;
    text-align: center;
    /* border: 1px solid #ffffff; */
}

.invitem {
    /* border: 1px solid #ffffff; */

    display: flex;
    flex-direction: column;
}

.inventorycontainer {
    width: 600px;
    padding: 20px 0;
    background-color: #222;
    background-repeat: repeat;
    background-size: 100px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.equipped {
    gap: 4px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    margin: auto;
    text-align: center;
}

.placeholder {
    border: none;
}

.placeholder:hover {
    background-color: none;
}

.draggable:active {
    cursor: grabbing;
}

.stat-wrapper {
    float: right;
    margin: 10px auto;
    width: 70%;
}

.statname {
    width: 200px;
}

.stat-value {
    width: 30px;
    text-align: center;
}

.statbtn {
    width: 20px;
    text-align: center;
    padding: 0px;
}

input {
    background-color: #444;
    border-style: groove;
    margin: auto;
}

input:hover {
    background-color: #555;
}

::placeholder {
    opacity: 1;
    color: rgb(170, 170, 170);
    font-size: 0.8em;
}

.narritive {
    min-height: 50px;
    margin: 10px auto;
    width: 100%;
    padding: 5px;
    border-style: inset;
}

.narritive p {
    font-size: 0.8em;
}

.undefined {
    background-color: red;
}

.inline-btn {
    display: inline;
    width: 100px;
    margin: 5px;
}
